body {
    background-image: linear-gradient(to right, #1C82AD 0%, #13005A 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}